<%
    viewBag.pageTitle = 'Home';
%>

<%- contentFor('script') %>
<script src="/js/upload-csv.js"></script>

<%- contentFor('body') %>
<div class="table-container">

    <h1 class="display-6">
        <strong>CSV Documents</strong>
        <button class="btn btn-success" id="upload-file-btn" type="button">Upload File (.csv)</button>
        <small id="invalid-feedback"></small>
    </h1>

    <form action="/upload-csv" method="post" id="form-upload" enctype="multipart/form-data">
        <input type="file" accept=".csv" id="file-upload-csv" name="file">
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">File Name</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>