@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    font-family: "Montserrat", sans-serif;

    input[type="file"] {
        display: none;
    }

    main {
        div.container-fluid,
        div.container {
            width: 100%;
            display: flex;
            justify-content: center;
            min-height: calc(100vh - 106px);

            div.table-container {
                width: 100%;

                h1 {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    display: flex;
                    align-items: center;
                    column-gap: 70px;

                    small {
                        margin-left: -30px;
                        font-size: 14px;
                        color: #dc3545;
                    }
                }

                nav {
                    width: fit-content;
                    margin: 30px auto;
                }

                p#note {
                    font-size: 12px;
                    font-style: italic;
                    color: #ff000a;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 12px;
                }

                table.sortable > thead > tr > th {
                    background-image: url("/images/bg.gif");
                    background-repeat: no-repeat;
                    background-position: center right;
                    cursor: pointer;
                    border: 1px solid #fff;

                    &.asc {
                        background-image: url("/images/asc.gif");
                    }

                    &.desc {
                        background-image: url("/images/desc.gif");
                    }

                    &:first-child {
                        background-image: none;
                    }
                }
            }
        }
    }

    footer {
        background-color: black;
        color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0px 20px;

        ul {
            margin: 0;
            display: flex;
            column-gap: 10px;
        }
    }
}
